<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>


%h1 Listing Watch List Entries
%table
  %tr.heading
    %th Ticker
    %th Price
    %th Target Price
    %th Open
    %th High
    %th Low
    %th Close
    %th Volume
    %th Strategy
    %th Indicator Value
    %th Target Threshold
    %th Crossed At
    %th Updated At

  = render :partial => 'entry_list', :collection => entry_objects
