<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>


%h1 Listing Watch List Closures
%table
  %tr.heading
    %th Ticker
    %th Entry Date
    %th Days Held
    %th Entry Price
    %th Current Price
    %th Current ROI
    %th Volume
    %th RSI
    %th RVI
    %th Threholds
    %th Nearest Indicator
    %th Min Delta
    %th Crossed At
    %th Updated At

  = render :partial => 'exit_list', :collection => exiting_objects
