<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>

= content_for :side_content do
  %p
  = link_to 'Generate CSV', :action => 'generate_exit_csv'


%h1 Exit Watch List
%table
  %tr.heading
    %th Ticker
    %th Days Held
    %th Entry Date
    %th Entry Price
    %th Current Price
    %th RSI Price
    %th RVI Price
    %th Current ROI
    %th Volume
    %th RSI
    %th RVI
    %th RSI/RVI Crossding
    %th Close Crossing
    %th M

  = render :partial => 'exit_list', :collection => exiting_objects
