<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>


%h1 Listing Watch Exits
%table
  %tr.heading
    %th Ticker
    %th TDA
    %th Price
    %th Open
    %th High
    %th Low
    %th Close
    %th Volume
    %th Closest Indicator
    %th Indicator Value
    %th Target Threshold
    %th Crossed At
    %th Updated At

  = render :partial => 'exit_list', :collection => exiting_objects
