<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>


= content_for :side_content do
  %legend
    Sort Order
    %table
      %tr
        %td
          Price
          = radio_button_tag 'sort_order', 'Price', false, :onclick => sort_by_price
      %tr
        %td
          Time
          = radio_button_tag 'sort_order', 'Time', true, :onclick => sort_by_time


%h1 Listing Entry Watch List
%table
  %tr.heading
    %th Ticker
    %th Price
    %th Target Price
    %th Open
    %th High
    %th Low
    %th Close
    %th Volume
    %th Shares
    %th Strategy
    %th Indicator Value
    %th Target Threshold
    %th Listed On
    %th Crossed At
    %th Updated At

  = render :partial => 'watch_list', :collection => current_objects
