%h1 Listing watch_lists
%table
  %tr.heading
    %th Ticker
    %th TDA
    %th Price
    %th Target Price
    %th Open
    %th High
    %th Low
    %th Close
    %th Volume
    %th Strategy
    %th Indicator Value
    %th Target Threshold
    %th Crossed At
    %th Updated At

  = render :partial => 'watch_list', :collection => current_objects
