/*
ATTENTION ADMINISTRATORS:
 
This is the print CSS for all skins. Any major changes to this page 
should be first proposed on the [[Wikipedia:Village pump (technical)]].  
 
Testing can be done on your own user Monobook.css. In [[Mozilla]] and
[[Opera (web browser)|Opera]], you can also test style changes dynamically
with the [http://www.squarefree.com/bookmarklets/webdevel.html test styles]
bookmarklet from squarefree.com. It pops up a window for adding style rules,
and updates the page as you type.

Always check with the [http://jigsaw.w3.org/css-validator/ W3C CSS Validation Service] 
before and after any changes.

See also: [[Wikipedia:Catalogue of CSS classes]].
 
Thank you.
*/

/* <pre><nowiki> */

/* Do not expand URLs within citations for printing. The URLs should be included explicitly, to avoid confusion */

#content cite a.external.text:after {
    display: none;
}

.navbox {
    display: none;
}

.infobox.sisterproject {
    display: none;
}

/* When in mainspace, don't print article message boxes */

.ns-0 .ambox {
    display: none;
}

/* Removes useless links from printout */

#privacy, #about, #disclaimer {
    display: none;
}

.editlink, .noprint, .metadata, .dablink {
    display: none
}


/* </nowiki></pre> */