%h1 Viewing Scan

%fieldset
  - smart_form_for(current_object, :readonly => true) do |f|
    = render :partial => "form", :locals => {:f => f}

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy scan?', :method => :delete
|
= link_to 'Back', objects_path
