= javascript_tag do
  // create status iframe
  var statusFrame = new Element('iframe', { id: 'statusFrame', name: 'statusFrame' }).hide();
  $$('body')[0].appendChild(statusFrame);
  // create status form
  var statusForm = new Element('form', { action: '/real_time_quotes/progress', method: 'post', target: 'statusFrame' });
  $$('body')[0].appendChild(statusForm);
  // post to iframe
  statusForm.submit();

