%h1 Listing real_time_quotes
%table
  %tr.heading
    %th Ticker
    %th Bid
    %th Ask
    %th Last Trade
    %th Change
    %th % Change
    %th Time
    %th Created At

  = render :partial => 'real_time_quote', :collection => current_objects
