%h1 Real-time Quotes

%fieldset
  - form_remote_tag(:url => begin_load_real_time_quotes_path) do
    = label_tag :num_workers, 'Num Workers', :class => 'form-field'
    = select_tag :num_workers, options_for_select (Array.new(8) { |i| i+1 }), :class => 'form-field'
    %br{:class => 'form-field'}
    %p= submit_tag 'Submit', :class => 'form-button'

%p= link_to_remote 'Progress', { :url => progress_real_time_quotes_path, :method => :get}, :class => 'form-button'

%br/
%br/

#statusProgressBar
#statusProgress

