%h1 Creating Daily Bar

= error_messages_for :daily_bar

%fieldset
  - smart_form_for(current_object) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= f.submit "Create"

= link_to 'Back', objects_path
