%h1 Closing TDA Position

= error_messages_for :tda_position

%fieldset
  - smart_form_for(current_object) do |f|
    = render :partial => "close_form", :locals => {:f => f}
    %p= f.submit "Close"

= link_to 'Back', objects_path
