%h1 Listing TDA Positions
%table
  %tr.heading
    %th Ticker
    %th Entered
    %th Exited
    %th Entry Price
    %th Exit Price
    %th Curr Price
    %th Shares
    %th Days Held
    %th Nreturn
    %th ROI
    %th Profit/Loss

  = render :partial => 'tda_position', :collection => current_objects
