%h1 Listing tda_positions
%table
  %tr.heading
    %th Ticker
    %th Entry Date
    %th Exit Date
    %th Openned At
    %th Closed At
    %th Updated At
    %th Entry Price
    %th Exit Price
    %th Curr Price
    %th Num Shares
    %th Days Held
    %th Nreturn
    %th Rretrun

  = render :partial => 'tda_position', :collection => current_objects

= link_to 'New tda_position', new_object_path
