%h1 Opening TD Ameritrade Position

= error_messages_for :tda_position

%fieldset
  - smart_form_for(@tda_position) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= f.submit "Create"

= link_to 'Back', objects_path
